# Lint
flake8==3.5.0

# Django
Django==2.0.7
django-environ==0.4.5

# Postgres Driver
psycopg2==2.7.5

# Wagtail
wagtail==2.0.1

# Static and media files
django-storages==1.6.6
django-webpack-loader==0.6.0

# WSGI HTTP Server
gunicorn==19.9.0

# Logs
watchtower==0.5.3
